footer {
    background: linear-gradient(to bottom, #da0436 20%,#aa0028 80%,#aa0028 80%);
    grid-area: footer;
    grid-column: 1 / 5;
    grid-row: 5 / span 1;
    display: grid;
    place-items: center;
}

.logo_footer {
    width: 20px;
}