.main {
    margin: 10px;
    display: grid;
    grid-column: 2 / span 2;
    grid-template-rows: 3 / span 1;
    place-items: center;
}

.asideL {
    background-color: #FFFFFF;
    grid-area: asideL;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.introduccion {
    background-color: #F78181;
    width: 200px;
    grid-area: introduccion;
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
    display: grid;
    place-items: center;


    &_servicios {
        background-color: #F78181;
        padding: 20px;
        grid-area: introduccion;
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        display: grid;
        place-items: center;
    }


    &_descripcion {
        padding: 1em;
    }
}
h2 {
    margin: 5px;
}

h3 {
    margin: 5px;
    margin-top: 0px;
    padding: 10px;
    padding-top: 0px;
}

.asideR {
    background-color: #FFFFFF;
    grid-area: asideR;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.asideL__img {
    width: 200px;
    height: 300px;
}

.asideR__img {
    width: 200px;
    height: 300px;
}

.center__img {
    width: 200px;
    height: 300px;
} 

@media screen and (max-width: 780px) { 

    .main {
        place-content: center;
    } 

    .asideL {
       grid-row: 3 / span 1;
       grid-column: 2;
    }

    .introduccion {
        grid-row: 4 / span 1;
        grid-column: 2;
        margin: 10px;
    }

    .asideR{
        grid-row: 5 / span 1;
        grid-column: 2;
    }
}