/* RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

html {
    font-size: 62.5%; 
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    "header header header header"
    "nav    nav     nav     nav"
    "asideL introduccion introduccion asideR"
    "footer footer footer footer";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}