    $principal: #FFFFFF;
    $secondary: hsl(0, 0%, 0%);
    $font-primary: "Inter", sans-serif;
    $font-secondary: "Bowly One SC", cursive;
    $text-lg: 2em;
    $text-md: 1.8em

    /* Recordar cambiar -- por $ en todas las variables usadas a partir de "replace" en la lupita */